<div id="<%= dom_id page %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= page.url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Check type:</strong>
    <%= page.check_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Selector:</strong>
    <%= page.selector %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Match text:</strong>
    <%= page.match_text %>
  </p>

</div>
